fake_dynamo: &local
  use_ssl:            false
  dynamo_db_endpoint: localhost
  dynamo_db_port:     4567
  access_key_id:      xxx
  secret_access_key:  xxx
  user_agent_prefix:  Ocean

amazon: &amazon
  access_key_id:      YOURACCESSKEYHERE
  secret_access_key:  YOURSECRETKEYHERE
  region:             eu-west-1
  user_agent_prefix:  Ocean

# Do not set this db to the same as production.
development:
  <<: *local

# Do not set this db to the same as production.
test:
  <<: *local

production:
  <<: *amazon
